<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
    {% for project in projects %}
        <hr>
        <a href="{{ url_for('project.project_compare', project_name = project.name ) }}" class="navbar-item">
            {{ project.name }}
        </a>

        <br>
        <hr>
        <a href="{{ url_for('project.project_compare', project_name = project.name ) }}" class="navbar-item">
            {{ project.description }}
        </a>
        <br>
        <hr>
    {% endfor %}

{% endblock %}